In [3]:
import graphlab

from graphlab import SFrame

df = SFrame("people-example.csv")

graphlab.canvas.set_target('ipynb')

df['age'].show(view='Categorical')

print "countries " ,df['Country']

print "ages " , df['age']


print "ages max" , df['age'].max()


print "ages mean" , df['age'].mean()

Finished parsing file /Users/cristianku/PycharmProjects/machine learning notebook/Week 1/people-example.csv

Parsing completed. Parsed 7 lines in 0.047578 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[str,str,str,int]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Finished parsing file /Users/cristianku/PycharmProjects/machine learning notebook/Week 1/people-example.csv

Parsing completed. Parsed 7 lines in 0.021631 secs.

countries  ['United States', 'Canada', 'England', 'USA', 'Poland', 'United States', 'Switzerland']
ages  [24, 23, 22, 23, 23, 22, 25]
ages max 25
ages mean 23.1428571429

In [4]:
df['Full Name'] = df['First Name'] + ' ' + df['Last Name']

In [5]:
df

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int
	Full Name	str

Rows: 7

Data:
+------------+-----------+---------------+-----+----------------+
| First Name | Last Name |    Country    | age |   Full Name    |
+------------+-----------+---------------+-----+----------------+
|    Bob     |   Smith   | United States |  24 |   Bob Smith    |
|   Alice    |  Williams |     Canada    |  23 | Alice Williams |
|  Malcolm   |    Jone   |    England    |  22 |  Malcolm Jone  |
|   Felix    |   Brown   |      USA      |  23 |  Felix Brown   |
|    Alex    |   Cooper  |     Poland    |  23 |  Alex Cooper   |
|    Tod     |  Campbell | United States |  22 |  Tod Campbell  |
|   Derek    |    Ward   |  Switzerland  |  25 |   Derek Ward   |
+------------+-----------+---------------+-----+----------------+
[7 rows x 5 columns]

In [6]:
df['age'] +2

dtype: int
Rows: 7
[26, 25, 24, 25, 25, 24, 27]

# use the apply function for advanced transformation of our data

In [7]:
df ['Country']

dtype: str
Rows: 7
['United States', 'Canada', 'England', 'USA', 'Poland', 'United States', 'Switzerland']

In [8]:
df['Country'].show()

In [9]:
def transform_country(country):
    if country == 'USA':
        return 'United States'
    else:
        return country

In [10]:
transform_country('USA')

'United States'

In [11]:
transform_country(df['Country'])

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()

In [12]:
df['Country'].apply(transform_country)

dtype: str
Rows: 7
['United States', 'Canada', 'England', 'United States', 'Poland', 'United States', 'Switzerland']

In [13]:
df['Country'] = df['Country'].apply(transform_country)

In [14]:
df

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int
	Full Name	str

Rows: 7

Data:
+------------+-----------+---------------+-----+----------------+
| First Name | Last Name |    Country    | age |   Full Name    |
+------------+-----------+---------------+-----+----------------+
|    Bob     |   Smith   | United States |  24 |   Bob Smith    |
|   Alice    |  Williams |     Canada    |  23 | Alice Williams |
|  Malcolm   |    Jone   |    England    |  22 |  Malcolm Jone  |
|   Felix    |   Brown   | United States |  23 |  Felix Brown   |
|    Alex    |   Cooper  |     Poland    |  23 |  Alex Cooper   |
|    Tod     |  Campbell | United States |  22 |  Tod Campbell  |
|   Derek    |    Ward   |  Switzerland  |  25 |   Derek Ward   |
+------------+-----------+---------------+-----+----------------+
[7 rows x 5 columns]